.controlBox{
    width: 100%;
    height: 99%;
    margin-right:0px;
    margin-top: -2px;
    border: 0px;
}

.controlBoxArea{
    width: 22%;
    float: left;
    margin-top: 5%;
    padding-left: 1%;
    padding-bottom: 26px;
}

@media (max-height: 800px){
    .controlBoxArea {
        margin-bottom: 30px;
    }
}

.controlBoxArea td.selectedLabel{
     background-color: #533663;
     color: white;
}

.controlBoxRow{
    background-color: #4C4C4C;
    border-width:thin;
}

.controlBoxLabel{
    width: 54%;
    padding: 1%;
    background-color: #AEAEAE;
    color: black;
    font-size: 1vw;
}

.controlBoxPlaceholder{
    height: 0px;
    visibility: hidden;
}

.controlBoxLabel.longLabel{
    font-size: 0.8vw
}

.controlBoxValue{
    padding: 0px;
    width: 46%;
    background-color: #E8E8E8;
}

.controlBoxSelector{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    font-size: 1vw;
}

.controlBoxButton{
    width: 52%;
    margin-right: 4%;
}

.controlActionArea{
    width: 100%;
}

.controlBoxActionSelector{
     width: 43%;
     width: calc(44% - 2px);
     padding: 0px;
}

.controlBoxSelector.longSelector{
    font-size: 0.95vw;
}

@media (max-width: 1366px) and (min-width: 1051px) {

    .controlBoxArea {
        width: 30%;
        padding-left: 2%;
    }

    .controlBoxLabel{
        font-size: 1.3vw;
    }

    .controlBoxLabel.longLabel{
        font-size: 1.05vw
    }

    .controlBoxSelector{
        font-size: 1.5vw;
    }
    .controlBoxSelector.longSelector{
        font-size: 1.3vw;
    }
}

@media (max-width: 1050px) and (min-width: 851px) {

    .controlBoxArea {
        width: 30%;
        padding-left: 2%;
    }

    .controlBoxLabel{
        font-size: 1.3vw;
    }

    .controlBoxLabel.longLabel{
        font-size: 1.05vw
    }

    .controlBoxSelector{
        font-size: 1.5vw;
    }

     .controlBoxSelector.longSelector{
        font-size: 1.1vw;
    }
}

@media (max-width: 850px) and (min-height: 600px){
    .controlBox{
        float: left;
        width: 45%;
        margin-right: 2%;
        margin-top: 0px;
    }

    .controlBoxPlaceholder{
        height: 40px;
        font-size: 1.8vw;
        padding: 1%;
        visibility: hidden;
    }

    .controlBoxArea{
        padding-left: 2%;
        width: 98%;
        margin-top: 5%;
    }

    .controlBoxButton{
        width: 45%;
        margin-right: 2%;
    }

    .controlBoxActionSelector{
        width: 45%;
    }

     .controlBoxLabel{
        font-size: 1.8vw;
    }

    .controlBoxLabel.longLabel{
        font-size: 1.6vw
    }

    .controlBoxSelector{
        font-size: 2vw;
    }
    .controlBoxSelector.longSelector{
        font-size: 1.7vw;
    }
}

@media (max-width: 850px) and (max-height: 599px) {
    .controlBoxArea{
       width: 35%;
    }
}
